---
import TextLogo from "../ui/TextLogo.astro";
import MailIcon from "../icons/MailIcon.astro";
import MobileMenu from "../ui/MobileMenu.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Leo Dev | Website</title>
  </head>
  <body class="bg-neutral-900 text-neutral-100 font-mono">
    <nav class="p-5 flex justify-between items-center bg-zinc-900 border-b border-b-zinc-800">
      <header class="flex">
        <TextLogo />
      </header>
      <ul class="font-semibold gap-8 items-center me-6 hidden md:flex">
        <li><a href="https://leonardof02.github.io/noob-blog/">Blog</a></li>
        <li><a href="/">About</a></li>
        <li><a href="https://github.com/leonardof02/">Github</a></li>
        <li>
          <a
            href="/contact"
            class="flex items-center justify-center gap-3 p-3 bg-lime-400 uppercase rounded-md text-center font-extrabold text-base text-zinc-900 cursor-pointer hover:brightness-110 hover:-translate-y-1 transition-all"
          >
            <MailIcon width={32} height={32} />
             Contact Me
          </a>
        </li>
      </ul>
      <MobileMenu />
    </nav>
    <main class="p-3 mt-3">
      <slot />
    </main>
  </body>
</html>

<!-- Get Fonts Firacode -->
<style>
  @import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");
</style>
