<div class="flex flex-col gap-1 font-extrabold text-9xl relative">
  <div class="absolute w-64 h-64 bg-zinc-800 -top-20 z-0 -left-7"></div>
  <div class="flex z-10">
    <span>Leo</span>
    <span class="text-neutral-600">~</span>
    <span class="text-lime-400">$</span>
  </div>
  <div class="flex z-10">
    <span class="text-neutral-600">_</span>
    <span>Dev</span>
  </div>
  <div class="uppercase bg-neutral-200 text-xl text-black mt-5 p-1 flex justify-center font-bold">
    <p class="tracking-[8px]">*Software Developer*</p>
  </div>
</div>