---
import PageLayout from "../../components/layouts/PageLayout.astro";
import Card from "../../components/Card.astro";
---

<PageLayout>
  <div class="grid gap-3 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 items-center">
    <Card
      href="https://leonardof02.github.io/frontendmentor-solutions/"
      name="Frontend Mentor Solutions"
      category="FOSS"
      description="Frontend Practice Exercises from frontendmentor.io made with diferent web tecnologies"
      imgUrl="/images/frontend-mentor-solutions.png"
      githubRepo=""
    />
    <Card
      href="https://p2panda.io"
      name="P2Panda web"
      category="PRIVATE"
      description="Secure platform for p2p cryptocurrency exchange"
      imgUrl="/images/p2panda.png"
    />
    <Card
      href="https://leonardof02.github.io/frontendmentor-solutions/"
      name="Eventux API"
      category="FOSS"
      description="API REST built with Node + Express for event management at my university"
      imgUrl="/images/eventux-api.png"
      githubRepo="https://github.com/leonardof02/eventux-api/"
    />
    <Card
      href="https://leonardof02.github.io/frontendmentor-solutions/"
      name="UCI/PR Travel Bot"
      category="FOSS"
      description="A Telegram Bot for booking bus trips to the university"
      imgUrl="/images/uci-pr-travel-bot.png"
      githubRepo=""
    />
    <Card
      href="https://github.com/leonardof02/gallery-app-practice"
      name="UGallery"
      category="FOSS"
      description="Frontend Practice: A Pictures Storage"
      imgUrl="/images/ugallery.png"
      githubRepo="https://github.com/leonardof02/gallery-app-practice"
    />
    <Card
      href="https://github.com/leonardof02/gallery-app-practice"
      name="QR Menu"
      category="FOSS"
      description="Restaurant Menu Management and QR Code Generator"
      imgUrl="/images/qr-menu.png"
      githubRepo=""
    />
  </div>
</PageLayout>
