<div class="flex flex-col items-center gap-1 font-extrabold text-7xl md:text-9xl relative">
  <div class="absolute w-32 h-32 md:w-64 md:h-64 bg-zinc-800 left-10 -top-7 md:-top-10 z-0 md:-left-7"></div>
  <div class="flex z-10">
    <span>Leo</span>
    <span class="text-neutral-600">~</span>
    <span class="text-lime-400">$</span>
  </div>
  <div class="flex z-10">
    <span class="text-neutral-600">_</span>
    <span>Dev</span>
  </div>
  <div class="uppercase text-center bg-neutral-200 text-base md:text-xl text-black mt-5 p-1 flex justify-center font-bold w-full">
    <p class="tracking-[8px]">*Software Developer*</p>
  </div>
</div>